$text: #222;
$muted: #bbb;
$link: rgb(0, 0, 238);
$visited: rgb(85, 26, 139);
$active: darken(rgb(0, 0, 238), 15%);

$line-height: 1.618rem;
$fs: 137%;
$retina: "only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5)";

@function lh ($num:1, $root-variance:1) {
  @if ($root-variance != 1) {
    @return ($line-height / $root-variance) * $num;
  } @else {
    @return $line-height * $num;
  }
}

@mixin prefixer ($property, $value,
                 $webkit: true,
                    $moz: true,
                     $ms: false,
                      $o: false,
                   $spec: true) {
  @if $webkit { -webkit-#{$property}: $value; }
  @if $moz    {    -moz-#{$property}: $value; }
  @if $ms     {     -ms-#{$property}: $value; }
  @if $o      {      -o-#{$property}: $value; }
  @if $spec   {         #{$property}: $value; }
}

@mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
   }
  &:after {
    clear: both;
  }
}

@mixin box-sizing ($box) {
  @include prefixer(box-sizing, $box);
}

@mixin box-shadow ($props) {
  @include prefixer(box-shadow, $props);
}

@mixin transition ($props...) {
  @include prefixer(transition, $props, webkit, moz, ms, o);
}
