@import url(./reset.css);

html {
  font-size: 137%;
  height: 100%;
}

body {
  min-height: 100%;
  background: #FFF;
  color: #222222;
  font-family: "Droid Serif";
  line-height: 1.618rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  display: block;
  width: 100%;
}

img.circle {
  border-radius: 50%;
}

img.centered {
  margin-left: auto;
  margin-right: auto;
}

div {
  line-height: 1.618rem;
}

p {
  line-height: 1.618rem;
  max-width: 768px;
}

a {
  line-height: 1.618rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:visited {
  color: #551a8b;
}

a:active {
  color: #0000a2;
}

img, p, ul, ol, table, code, form {
  line-height: 1.618rem;
  margin-bottom: 1.618rem;
}

img:last-child, p:last-child, ul:last-child, ol:last-child, table:last-child, code:last-child, form:last-child {
  margin-bottom: 0px;
}

body > section {
  max-width: 650px;
  height: 100%;
  margin: 3.236rem auto;
}


body > section > header {
  position: relative;
  margin-bottom: 3.236rem;
}

body > section > header img {
  width: 100px;
}

@media (min-width: 768px) and (max-width: 960px) {
  html {
    font-size: 127.41%;
  }
}

@media (max-width: 768px) {
  body > section {
    margin: 1.618rem;
  }
}

@media (min-width: 540px) and (max-width: 768px) {
  html {
    font-size: 113.71%;
  }
}

@media (max-width: 540px) {
  html {
    font-size: 95.9%;
  }
}

