@import url(./reset.css);
html {
  font-size: 137%; }
  @media (min-width: 768px) and (max-width: 960px) {
    html {
      font-size: 127.41%; } }
  @media (min-width: 540px) and (max-width: 768px) {
    html {
      font-size: 113.71%; } }
  @media (max-width: 540px) {
    html {
      font-size: 95.9%; } }

body {
  font-family: "Droid Serif";
  color: #222222;
  background: #FFF;
  line-height: 1.618rem; }

img {
  display: block;
  width: 100%; }
  img.circle {
    border-radius: 50%; }
  img.centered {
    width: auto;
    margin-left: auto;
    margin-right: auto; }

div {
  line-height: 1.618rem; }

p {
  max-width: 768px;
  line-height: 1.618rem; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.618rem; }

ul, ol {
  line-height: 1.618rem;
  margin-left: 1.618rem; }
  ul li, ol li {
    margin-top: 1.618rem; }
  ul li:first-child, ol li:first-child {
    margin-top: 1.618rem; }

a {
  line-height: 1.618rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  a:visited {
    color: #551a8b; }
  a:active {
    color: #0000a2; }

img, p, ul, ol, table, code, form {
  line-height: 1.618rem;
  margin-bottom: 1.618rem; }
  img:last-child, p:last-child, ul:last-child, ol:last-child, table:last-child, code:last-child, form:last-child {
    margin-bottom: 0px; }

body > section {
  width: 80%;
  max-width: 768px;
  margin: 3.236rem auto; }
  @media (max-width: 768px) {
    body > section {
      width: 86%;
      margin: 1.618rem auto; } }
  @media (max-width: 540px) {
    body > section {
      width: 92%; } }
  body > section > header {
    position: relative;
    margin-bottom: 1.618rem; }
    body > section > header p {
      padding-left: 120px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    body > section > header img {
      width: 100px;
      border-radius: 50px;
      position: absolute;
      top: 0.2427rem;
      left: -0.1618rem; }
    @media (max-width: 768px) {
      body > section > header p {
        padding-left: 90px; }
      body > section > header img {
        width: 75px; } }
    @media (max-width: 540px) {
      body > section > header p {
        padding-left: 0px; }
      body > section > header img {
        position: static;
        margin: 0 auto 1.618rem; } }
body > footer {
  max-width: 768px;
  margin: 3.236rem auto 1.618rem;
  text-align: center; }
  body > footer p {
    color: #bbbbbb; }
  body > footer a {
    display: inline-block;
    clear: both;
    margin: 1.618rem 0;
    text-align: center; }

.projects-header {
  margin-bottom: 1.618rem;
  border-bottom: 1px solid #efefef;
  *zoom: 1; }
  .projects-header:before, .projects-header:after {
    display: table;
    content: ""; }
  .projects-header:after {
    clear: both; }
  .projects-header .title {
    color: #bbbbbb;
    line-height: 1.618rem;
    float: left; }

.project-header {
  margin-bottom: 1.618rem; }
  .project-header .date {
    font-weight: normal;
    color: #bbbbbb;
    line-height: 1.618rem;
    display: inline-block;
    margin-right: 0.4045rem; }
  .project-header form, .project-header form input {
    display: inline-block; }

.text-header .title {
  font-weight: bold; }

.hidden {
  display: none; }

button, input[type=submit] {
  -webkit-appearance: none;
  border: 1px solid #BBB;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  white-space: nowrap;
  display: inline-block;
  vertical-align: baseline;
  font-family: "Droid Serif";
  color: #222222;
  background-color: #FFF;
  font-size: 0.8em;
  line-height: 1em;
  padding: 0.2em 0.4045rem 0.2em;
  -webkit-box-shadow: inset 0px -2px 1px -1px #f2f2f2;
  -moz-box-shadow: inset 0px -2px 1px -1px #f2f2f2;
  box-shadow: inset 0px -2px 1px -1px #f2f2f2;
  background-image: linear-gradient(0deg, #eaeaea, white); }
  button:active, input[type=submit]:active {
    border-color: #316db8;
    -webkit-box-shadow: inset 1 0 1px #c6d8ef;
    -moz-box-shadow: inset 1 0 1px #c6d8ef;
    box-shadow: inset 1 0 1px #c6d8ef;
    background-image: linear-gradient(180deg, #c6d8ef, #89b0df 15%, #89b0df 49%, #4d87cf 53%, #89b0df 85%, #c6d8ef); }

#PPMiniCart li {
  margin: 0; }
#PPMiniCart button img {
  width: auto;
  display: inline; }
#PPMiniCart .minicart-price {
  top: 0 !important; }

article.project {
  position: relative;
  padding-left: 65px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media (max-width: 540px) {
    article.project {
      padding-left: 40px; } }
  article.project.hidden {
    display: none; }
  article.project.comic:before {
    background-image: url("/images/zine.jpg");
    height: 46px; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
      article.project.comic:before {
        background-image: url("/images/zine@2x.jpg"); } }
  article.project:before {
    content: " ";
    width: 50px;
    position: absolute;
    top: 0.2427rem;
    left: 0;
    display: block;
    background-repeat: no-repeat; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
      article.project:before {
        background-size: 50px auto; } }
    @media (max-width: 540px) {
      article.project:before {
        background-size: 30px auto; } }

#cart {
  float: right; }

body#project nav {
  *zoom: 1;
  margin-bottom: 1.618rem;
  margin-top: -1.618rem; }
  body#project nav:before, body#project nav:after {
    display: table;
    content: ""; }
  body#project nav:after {
    clear: both; }
  @media (max-width: 768px) {
    body#project nav {
      margin-top: -0.809rem; } }
  body#project nav a {
    float: left; }
  body#project nav form {
    float: right; }
body#project > section > header {
  margin-bottom: 1.618rem; }
  body#project > section > header h1 {
    font-size: 1.8rem;
    line-height: 2.427rem;
    font-weight: bold; }
body#project > section > section {
  max-width: 768px;
  margin-top: 1.618rem; }
  body#project > section > section > header {
    padding: 1.618rem 0;
    text-align: center; }
    body#project > section > section > header h1 {
      font-size: 1.4rem;
      line-height: 1.618rem;
      font-weight: bold; }
  body#project > section > section + section {
    margin-top: 4.854rem; }
  body#project > section > section > section {
    *zoom: 1; }
    body#project > section > section > section:before, body#project > section > section > section:after {
      display: table;
      content: ""; }
    body#project > section > section > section:after {
      clear: both; }
    body#project > section > section > section + section:before {
      content: '.....';
      margin: 0.9708rem auto 2.2652rem;
      height: 1.618rem;
      width: 200px;
      display: block;
      text-align: center;
      clear: both;
      color: #DBDBDB;
      letter-spacing: 0.5em; }
body#project #quiet-fishing-village section {
  margin: 0 -2%; }
  body#project #quiet-fishing-village section img {
    width: 51.8%;
    max-width: 500px;
    float: left;
    margin: 0 -1% 0.4045rem;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    @media (max-width: 540px) {
      body#project #quiet-fishing-village section img {
        width: 100%;
        margin: 0 0 0.4045rem; } }
body#project #whatever-happens section {
  margin: 0 -1.1%; }
  body#project #whatever-happens section img {
    width: 52.1%;
    max-width: 500px;
    float: left;
    margin: 0 -1.1% -1%;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  @media (max-width: 700px) {
    body#project #whatever-happens section {
      margin: 0 -4%; }
      body#project #whatever-happens section img {
        width: 100%;
        max-width: 540px;
        margin: 0 auto -1%;
        float: none; } }
body#project #autobiographic-fanfiction section {
  margin: 0 -0.25%; }
  body#project #autobiographic-fanfiction section img {
    width: 49.5%;
    max-width: 500px;
    float: left;
    margin: 0 0.25% 0.4045rem;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    @media (max-width: 540px) {
      body#project #autobiographic-fanfiction section img {
        width: 100%;
        margin: 0 0 0.4045rem; } }
body#project #nice-tat section {
  margin: 0 -0.5%; }
  body#project #nice-tat section img {
    width: 50%;
    max-width: 500px;
    float: left;
    margin: 0 0 0.4045rem;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    @media (max-width: 540px) {
      body#project #nice-tat section img {
        width: 100%;
        margin: 0 0 0.4045rem; } }
    body#project #nice-tat section img.center {
      float: none;
      margin: 0 auto 0.4045rem; }
body#project #toucher section {
  margin: 0 -8%; }
  body#project #toucher section img {
    padding: 0;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 48%;
    max-width: 800px;
    margin: 0 0 1.618rem; }
    body#project #toucher section img:nth-child(odd) {
      margin-left: 2%; }
    body#project #toucher section img:nth-child(odd) {
      margin-right: 2%; }
    @media (max-width: 768px) {
      body#project #toucher section img {
        margin-left: auto !important;
        margin-right: auto !important;
        float: none;
        width: 88%; } }
body#project #nordhouse section {
  margin: 0 -10%;
  width: 120%; }
  body#project #nordhouse section img {
    padding: 0;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    max-width: 800px;
    margin: 0 0 1.618rem; }
    body#project #nordhouse section img.center {
      float: none;
      margin: 0 auto 0.4045rem; }
  @media (max-width: 769px) {
    body#project #nordhouse section {
      margin: 0;
      width: 100%; }
      body#project #nordhouse section img {
        margin-left: auto !important;
        margin-right: auto !important;
        float: none;
        width: 100%; } }
body#project #to-do section {
  *zoom: 1;
  margin: 0 -6%; }
  body#project #to-do section:before, body#project #to-do section:after {
    display: table;
    content: ""; }
  body#project #to-do section:after {
    clear: both; }
  @media (max-width: 540px) {
    body#project #to-do section {
      margin: 0; } }
  body#project #to-do section img {
    width: 51.1%;
    max-width: 500px;
    float: left;
    margin: 0 -0.6% 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    @media (max-width: 540px) {
      body#project #to-do section img {
        width: 100%;
        margin: 0; } }
    body#project #to-do section img.center {
      float: none;
      clear: both;
      max-width: 320px;
      margin: 0 auto 0.4045rem; }
