---
layout: default
title: comics and front-end development in Chicago
meta_description: This is the blog of Erik Schneider who is a front-end developer in Chicago, Illinois. He makes zines and minicomics in his spare time, and grew up in Muskegon, Michigan.
meta_keywords: front-end, frontend, ruby, javascript, comics, illustration, bikes, development, Chicago, Illinois, Muskegon, Michigan, programmer, programming, scss, sass, css3, html5, ink, diary comic, minicomic, minicomics, zine, zines, self-publishing, selfpublishing, riso, risograph, printing, easy press
---
<header class="page-header">
  <img src="/images/erik.jpg"/>
  <p>
    Erik Schneider (<a href="http://github.com/schneiderik" target="_blank">GitHub</a>,
    <a href="http://twitter.com/schneiderik" target="_blank">Twitter</a>,
    <a href="http://sssanddune.com" target="_blank">Tumblr</a> and
    <a href="http://instagram.com/schneiderik" target="_blank">Instagram</a>)
    is a developer, designer and illustrator slowly destroying
    his posture and wrists at <a href="https://braintreepayments.com" target="_blank">Braintree</a>
    in Chicago, Illinois. He also prints and publishes the work of local artists at material cost
    on a Risograph MZ990 as <strong>Easy Press</strong>.
  </p>
</header>

<section id="projects">
  <header class="projects-header">
    <h1 class="title">Products</h1>
    <section id="cart">
      <form method="post" action="https://www.paypal.com/cgi-bin/webscr">
        <input type="hidden" name="cmd" value="_cart">
        <input type="submit" name="submit" value="Cart (0)" class="link">
      </form>
    </section>
  </header>
  <article class="project nordhouse comic">
    <header class="project-header">
      <h1 class="title"><a href="/nordhouse">Nordhouse</a></h1>
      <span class="date">January 2015 - April 2015</span>
      {% include add_to_cart_button.html name="Nordhouse" amount="5.00" shipping="3.00" shipping2="0.50" submit="Add to Cart - $5" %}
    </header>
  </article>
  <article class="project to-do comic">
    <header class="project-header">
      <h1 class="title"><a href="/to-do">To-Do</a></h1>
      <span class="date">February 2014 - March 2014</span>
      {% include add_to_cart_button.html name="To-Do" amount="3.00" shipping="2.00" shipping2="0.50" submit="Add to Cart - $3" %}
    </header>
  </article>
  <article class="project sand-dune comic">
    <header class="project-header">
      <h1 class="title"><a href="/sand-dune">Sand Dune</a></h1>
      <span class="date">May 2014</span>
      {% include add_to_cart_button.html name="Sand Dune" amount="10.00" shipping="3.00" shipping2="0.50" submit="Add to Cart - $10" %}
    </header>
  </article>
</section>
