<!DOCTYPE html>
<html>
  {% include head.html %}

  <body id="{{ page.scope }}">
    <section id="main-section">
      <div id="project-topper">
        <div class="back-top">
          <a href="/">⤺ Back to all projects</a>
        </div>
        <form id="project-cart" method="post" action="https://www.paypal.com/cgi-bin/webscr">
          <input type="hidden" name="cmd" value="_cart">
          <input type="submit" name="submit" value="Cart (0)">
        </form>
      </div>
      {{ content }}
      <div class="back-bottom">
        <a href="/">⤺ Back to all projects</a>
      </div>
    </section>
    <footer id="main-footer">
      &copy; 2014 Erik Schneider
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/minicart/3.0.5/minicart.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
