<!DOCTYPE html>
<html>
  {% include head.html %}

  <body id="{{ page.scope }}">
    <section id="main-section">
      <div id="project-topper">
        <div class="back-top">
          <a href="/">⤺ Back to all projects</a>
        </div>
      </div>
      {{ content }}
      <div class="back-bottom">
        <a href="/">⤺ Back to all projects</a>
      </div>
    </section>
    <footer id="main-footer">
      &copy; 2014 Erik Schneider
    </footer>
    <script src="/js/main.js"></script>
  </body>
</html>
