<!DOCTYPE html>
<html>
  {% include head.html %}

  <body id="project">
    <section>
      <nav>
        <a href="/">⤺ Back to all projects</a>
        <form method="post" action="https://www.paypal.com/cgi-bin/webscr">
          <input type="hidden" name="cmd" value="_cart">
          <input type="submit" name="submit" value="Cart (0)" class="link">
        </form>
      </nav>
      {{ content }}
      <div class="back-bottom">
        <a href="/">&#x293A; Back to all projects</a>
      </div>
    </section>
    <footer>
      &copy; 2014 Erik Schneider
    </footer>

    {% include page_close.html %}
  </body>
</html>
